@model IEnumerable<WebApplication1.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <a href="@Url.Action("CreateOrEdit", "Students")" class="btn btn-primary">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Age</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Course?.Title</td>
                    <td>
                        <a href="@Url.Action("Details", "Students", new { id = student.Id })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("CreateOrEdit", "Students", new { id = student.Id })" class="btn btn-warning">Edit</a>

                        <form method="post" asp-action="DeleteConfirmed" asp-route-id="@student.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>
