@model IEnumerable<CRUDDemo.Models.Employee>

@{
    ViewBag.Title = "Employee List";
}

<div class="mt-4 container">
    <h2 class="mb-4 text-center">Employee List</h2>

    <p>
        <a href="@Url.Action("Create", "Employees")" class="btn btn-primary">Create New Employee</a>
    </p>

    <table class="table-bordered table-striped table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => emp.Name)</td>
                    <td>@Html.DisplayFor(x => emp.Email)</td>
                    <td>@Html.DisplayFor(x => emp.Phone)</td>
                    <td>@Html.DisplayFor(x => emp.Address)</td>
                    <td>
                        <a href="@Url.Action("Edit", "Employees", new { id = emp.Id })" class="btn btn-warning btn-sm">Edit</a>
                        <a href="@Url.Action("Detail", "Employees", new { id = emp.Id })" class="btn btn-info btn-sm">Details</a>
                        <a href="@Url.Action("Delete", "Employees", new { id = emp.Id })" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
